@import "css/variables.scss";

.characterContainer {
    @extend .secondaryContainer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 0;
}

.imageContainer {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: $spacing-16;
    overflow: hidden;
    object-fit: cover;
    border-radius: $spacing-4 0 0 $spacing-4;
    z-index: 2;
}


.info {
    grid-column: span 8;
    padding: 0 $spacing-7;
}

.name {
    font-size: $font-size-7;
    font-weight: bold;
    margin: $spacing-6 0;

    & > a:hover {
        color: $text-color-hover;
    }
}

.description {
    font-size: $font-size-3;
    font-weight: $font-weight-thin;
    color: $text-color-secondary;
    margin: $spacing-5 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: $spacing-9;
}

.fushiguro_megumi {
    object-position: 40% 50%;
}

.kugisaki_nobara {
    object-position: 60% 50%;
}

.gojo_satoru {
    object-position: right;
}