@import "css/variables.scss";

.main {
    @extend .container, .centered;
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    margin: $spacing-7 0;
}

.banner {
    min-height: 500px;
}

.logoContainer {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: $spacing-18;
}

.title {
    font-size: $font-size-11;
    font-weight: $font-weight-bold;
    margin: 0;
}

.subtitle {
    color: $light-gray;
    font-size: $font-size-4;
    font-weight: $font-weight-thin;
    margin: 0;
}