@import "css/variables.scss";

.link {
    color: $text-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: $spacing-02;
    transition: color $transition-duration $transition-ease;
    &:hover {
        color: $text-color-hover;
    }
}