@import "css/variables.scss";

.navbar {
    @extend .sticky, .translucent;
    display: flex;
    align-items: center;
    background-color: $secondary-background-color-translucent;
    color: $white;
    font-weight: bold;
    z-index: 100;
}

.logo {
    width: $spacing-13;
}

.links {
    display: flex;
    gap: $spacing-7;
    margin: 0 $spacing-9;
}

.link {
    color: $text-color;
    text-decoration: none;
    font-weight: $font-weight-regular;
    font-size: $font-size-5;
    transition: color $transition-duration $transition-ease;
    &:hover {
        color: $text-color-hover;
    }
}